<div class="row">
   <div class="col-md-12">
     {{#each user}}
     <h1>Hello {{firstname}}! &nbspYou are now logged in.</h1>
     {{/each}}
   </div>
 </div>
 
 <div class="row">
   <div class="col-md-6">
     <form method="POST">
       <div class="form-group">
         <label for="emailInput">Email</label>
        <input type="email" class="form-control" id="emailInput" placeholder="Email" name="email">
       </div>
       <div class="form-group">
         <label for="passwordInput">Password</label>
         <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password">
       </div>
     </form>
   </div>
 </div>